

 <script src="js/jquery-1.11.1.min.js"></script>

<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
 <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
start-smoth-scrolling
<script type="text/javascript" src="js/move-top.js"></script>
 <script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript"> 
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<script>

                        <script src="code.js"></script>
                        <script>//
						tinymce.init({
  selector: '#textarea',
  height: 500,
  theme: 'modern',
  plugins: 'print preview fullpage  searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcoun imagetools mediaembed  linkchecker contextmenu colorpicker textpattern help',
  toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ] /* ,
   content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tinymce.com/css/codepen.min.css'
  ] */
 });
      //# sourceURL=pen.js
	  </script>
	  <script>
      document.getElementById('mceu_38').innerHTML=document.getElementById('_is_hidden_trademark').value;
	  setTimeout(function(){
	if (document.getElementById('mceu_38').innerHTML!=document.getElementById('_is_hidden_trademark').value)
	{
		document.getElementById('mceu_38').innerHTML=document.getElementById('_is_hidden_trademark').value;
	document.getElementById('textarea').value = document.getElementById('textarea_ifr').outerHTML;
	}},50);
    </script> 
							<script src="js/jquery-1.11.1.min.js"></script>
                         <link rel="sylesheet" href="css/style.css"> 
                         <link rel="sylesheet" href="css/bootstrap.min.css"> 
                         <link rel="sylesheet" href="css/variant.css"> 
                         <script src="js/bootstrap.min.js"></script> 
                        <script src="js/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
                         <script src="js/tinymce/js/tinymce/tinymce.min.js"></script> 
                         <script src="ajax.js"></script> 
                         <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> 
 <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> 